{{- /* 
https://docs.sqlc.dev/en/stable/reference/query-annotations.html
https://github.com/sqlc-dev/sqlc/blob/main/protos/plugin/codegen.proto
https://github.com/rusqlite/rusqlite
https://pkg.go.dev/text/template
*/ -}}

{{- $customTypes := dict }}
{{- $enums := dict }}
{{- $tables := dict }}
{{- $_ := setContext "customTypes" $customTypes }}
{{- $defaultSchema := .Catalog.DefaultSchema}}
{{- $_ := setContext "defaultSchema" $defaultSchema }}

{{- define "CsharpType" -}}
{{- $customTypes := getContext "customTypes" }}
{{- $csharpType := .Type.Name -}}
{{- $csharpType = regexReplace "pg_catalog\\." "" $csharpType }}
{{- $type := $csharpType | toLower  -}}
{{- if or (eq $type "int4") (eq $type "serial") (eq $type "integer")}}{{ $csharpType = "int" }}
{{- else if eq $type "bigint"}}{{ $csharpType = "long" }}
{{- else if eq $type "text"}}{{ $csharpType = "string" }}
{{- else if or (eq $type "blob") (eq $type "bytea")}}{{ $csharpType = "byte[]" }}
{{- else if eq $type "real"}}{{ $csharpType = "double" }}
{{- else if eq $type "float"}}{{ $csharpType = "float" }}
{{- else if eq $type "double"}}{{ $csharpType = "double" }}
{{- else if eq $type "bool"}}{{ $csharpType = "bool" }}
{{- else if eq $type "boolean"}}{{ $csharpType = "bool" }}
{{- else if eq $type "date"}}{{ $csharpType = "DateTime" }}
{{- else if eq $type "timestamp"}}{{ $csharpType = "DateTime" }}
{{- else if eq $type "timestamptz"}}{{ $csharpType = "DateTimeOffset" }}
{{- else if eq $type "json"}}{{ $csharpType = "string" }}
{{- else if eq $type "uuid"}}{{ $csharpType = "Guid" }}
{{- else if contains $type "varchar"}}{{ $csharpType = "string" }}
{{- else }}
  {{- if not (or (eq .Type.Schema (getContext "defaultSchema")) (empty .Type.Schema)) }}
  {{- $csharpType = printf "%s_%s" .Type.Schema $csharpType }}
  {{- end }}
  {{- $type := $csharpType | toLower  -}}
  {{- if hasKey $customTypes $type }}
  {{- $csharpType = get $customTypes $type }}
  {{- end -}}
{{- end }}
{{- $csharpType }}{{ if .IsArray }}[]{{ end }}{{ if not .NotNull }}?{{ end }}
{{- end -}}

{{- define "params" }}
{{- $paramType := getContext "paramType" }}
      {{- if not (empty $paramType) }}
        {{ $paramType }} _params,
      {{- else }}
        {{- range $index, $_ := .Params }}
        {{ template "CsharpType" .Column }} {{ (snakeToCamelCase .Column.Name) }},
        {{- end -}}
      {{- end }}
{{- end -}}
{{- define "cmdParams" }}
        {{- if (gt (len .Params) 2) }}
          {{- range $index, $_ := .Params }}
        command.Parameters.AddWithValue("@{{ .Column.Name }}", _params.{{ (snakeToCamelCase .Column.Name | toPascalCase) }}
        {{- if not .Column.NotNull}} ?? (object)DBNull.Value {{- end }});
          {{- end }}
        {{- else }}
          {{- range $index, $_ := .Params }}
        command.Parameters.AddWithValue("@{{ .Column.Name }}", {{ (snakeToCamelCase .Column.Name) }}
        {{- if not .Column.NotNull}} ?? (object)DBNull.Value {{- end }});
          {{- end }}
        {{- end}}
{{- end -}}

/* This file is generated
  This template supports the following plugin options from sqlc.yaml
    namespace: the name of the namespace
*/
{{- $CacheStatements := false }}
using Npgsql;
using System.Runtime.CompilerServices;
using System.Text.Json;
using System.Text.Json.Serialization;
using Microsoft.Extensions.DependencyInjection;

namespace {{ getPluginOption "namespace" }};

// ---------- Models ----------
{{- range .Catalog.Schemas }}
{{- if or (or (eq .Name "pg_temp") (eq .Name "pg_catalog")) (eq .Name "information_schema")}}
{{- else }}

// Schema: {{ .Name }}
{{- $prefix := "" }}
{{- if not (eq .Name $defaultSchema) }}
{{- $prefix = printf "%s_" .Name }}
{{- end -}}

{{- range .CompositeTypes }}
{{- $sqlName := printf "%s%s" $prefix .Name }}
{{- $name := $sqlName | snakeToCamelCase | toPascalCase}}
{{- $_ := set $customTypes $sqlName $name }}
// TODO: generate composite types when sqlc supports them, for now you have to create the type yourself
// public class {{ $name }}
{{- end -}}

{{- range .Enums }}
{{- $sqlName := printf "%s%s" $prefix .Name }}
{{- $name := $sqlName | snakeToCamelCase | toPascalCase}}
{{- $_ := set $customTypes $sqlName $name }}
{{- $_ := set $enums $sqlName $name }}

[JsonConverter(typeof(SnakeCassJsonStringEnumConverter<{{ $name }}>))]
public enum {{ $name }}
{
{{- range .Vals}}
    {{ toPascalCase . }},
{{- end }}
}
{{- end }}

{{- range .Tables }}
{{- $sqlName := printf "%s%s" $prefix .Rel.Name }}
{{- $name := $sqlName | snakeToCamelCase | toPascalCase}}
{{- $_ := set $customTypes $sqlName $name }}
{{- $_ := set $tables $sqlName . }}

public class {{ $name }}
{
{{- range .Columns}}
    public {{- if .NotNull}} required{{- end }} {{ template "CsharpType" . }} {{ toPascalCase .Name }} { get; init; }
{{- end }}
}

{{- end }}
{{- end }}
{{- end }}


// ---------- Queries ----------

{{- range .Queries }}

// {{ .Filename }} -- name: {{ .Name }} {{ .Cmd }}

{{- range .Comments }}// {{.}}
{{- end }}

{{- $rowType := "" }}
{{- if and (or (eq .Cmd ":many") (eq .Cmd ":one")) (gt (len .Columns) 1) }}
{{- $rowType = printf "%sRow" (toPascalCase .Name) }}
{{- $table := (index .Columns 0).Table}}
{{- $allOfTable := false }}
{{- $prefix := "" }}
{{- if not (eq $table nil) }}
  {{- $allOfTable = true }}
  {{- range .Columns }}
    {{- if eq .Table nil }}
      {{- $allOfTable = false }}
    {{- else if not (and (eq $table.Name .Table.Name) (eq $table.Schema .Table.Schema)) }}
      {{- $allOfTable = false }}
    {{- end }}
  {{- end }}
  {{- $tableName := printf "%s%s" $prefix $table.Name }}
  {{- if and $allOfTable (eq (len (get $tables $tableName).Columns) (len .Columns)) }}
    {{- if and (not (eq $table.Schema $defaultSchema)) (not (empty $table.Schema)) }}
    {{- $prefix = printf "%s_" $table.Schema }}
    {{- end }}
    {{- $rowType = get $customTypes $tableName }}
  {{- else }}
    {{- $allOfTable = false }}
  {{- end }}
{{- end }}
{{- if not $allOfTable }}

public class {{ $rowType }}
{
{{- range .Columns}}
    public {{- if .NotNull}} required{{- end }} {{ template "CsharpType" . }} {{ toPascalCase .Name }} { get; init; }
{{- end }}
}

{{- end }}
{{- else if gt (len .Columns) 0 }}
{{- $rowType = templateIntoString "CsharpType" (index .Columns 0)}}
{{- end }}


{{- $paramType := "" }}
{{- if (gt (len .Params) 2) }}
{{- $paramType = printf "%sParams" (toPascalCase .Name) }}

public class {{ $paramType }}
{
  {{- range .Params}}
    public {{- if .Column.NotNull}} required{{- end }} {{ template "CsharpType" .Column }} {{ toPascalCase .Column.Name }} { get; init; }
  {{- end }}
}
{{- end }}
{{- $_ := setContext "paramType" $paramType}}


{{- $sqlName := printf "_%sSql"  .Name }}

{{- $transformedSql := .Text }}
{{- range .Params }}
{{- $transformedSql =  regexReplace (printf "\\$%d" .Number) (printf "@%s" .Column.Name) $transformedSql }}
{{- end }}

public abstract partial class BaseQueries
{
    private const string {{ $sqlName }} = """
    {{- $transformedSql | nindent 8 }}
        """;
{{ if eq .Cmd ":many" -}}
{{- $returnType := printf "IAsyncEnumerable<%s>" $rowType }}
    public async {{ $returnType }} {{ toPascalCase .Name  }}(
        {{- template "params" . }}
        [EnumeratorCancellation] CancellationToken cancellationToken = default
    )
    {
        await using var command = CreateCommand({{ $sqlName }});
        {{- template "cmdParams" . }}
        using (var reader = await command.ExecuteReaderAsync())
        {
            while (await reader.ReadAsync())
            {
                yield return new {{ $rowType }}
                {
                  {{- range $i, $_ := .Columns }}
                    {{ toPascalCase .Name }} =
                    {{- if .NotNull -}}
                    {{""}} reader.GetFieldValue<{{ template "CsharpType" . }}>({{ $i }}),
                    {{- else -}}
                    {{""}} reader.IsDBNull({{ $i }}) ? null : reader.GetFieldValue<{{ template "CsharpType" . }}>({{ $i }}),
                    {{- end }}
                  {{- end }}
                };
            }
        }
    }
{{- end }}


{{- if eq .Cmd ":one" }}
{{- $returnType := printf "Task<%s?>" $rowType }}
    public async {{ $returnType }} {{ toPascalCase .Name  }}(
        {{- template "params" . }}
        CancellationToken cancellationToken = default
    )
    {
        await using var command = CreateCommand({{ $sqlName }});
        {{- template "cmdParams" . }}
        {{- if eq (len .Columns) 1 }}
        return ({{ $rowType }}?)await command.ExecuteScalarAsync(cancellationToken);
        {{- else }}
        using (var reader = await command.ExecuteReaderAsync())
        {
            if (await reader.ReadAsync())
            {
                return new {{ $rowType }}
                {
                  {{- range $i, $_ := .Columns }}
                    {{ toPascalCase .Name }} =
                    {{- if .NotNull -}}
                    {{""}} reader.GetFieldValue<{{ template "CsharpType" . }}>({{ $i }}),
                    {{- else -}}
                    {{""}} reader.IsDBNull({{ $i }}) ? null : reader.GetFieldValue<{{ template "CsharpType" . }}>({{ $i }}),
                    {{- end }}
                  {{- end }}
                };
            }
            return null;
        }
        {{- end }}
    }
{{- end -}}

{{- if eq .Cmd ":exec" }}
{{- $lastIndex := (sub (len .Params) 1) }}
    public async Task<int> {{ toPascalCase .Name  }}(
        {{- template "params" . }}
        CancellationToken cancellationToken = default
    )
    {
        await using var command = CreateCommand({{ $sqlName }});
        {{- template "cmdParams" . }}
        return await command.ExecuteNonQueryAsync(cancellationToken);
    }
{{- end -}}

{{- if eq .Cmd ":copyfrom" }}
// TODO: :copyfrom is not supported yet
{{- end }}
{{""}}
}
{{- end }}

// ---------- Base ----------

public static class QueriesServiceCollectionExtension
{
    public static IServiceCollection AddQueries(this IServiceCollection services, string connectionString)
    {
        var dataSource = Queries.CreateDataSource(connectionString);
        return services.AddSingleton(new Queries(dataSource));
    }
}

public abstract partial class BaseQueries
{
    protected abstract NpgsqlCommand CreateCommand(string sql);
}

public class Queries(NpgsqlDataSource dataSource) : BaseQueries
{
    public static NpgsqlDataSource CreateDataSource(string connectionString)
    {
        var builder = new NpgsqlDataSourceBuilder(connectionString)
            {{- range $sqlName, $name := $enums }}
            .MapEnum<{{ $name }}>("{{ $sqlName }}")
            {{- end }}
        ;
        return builder.Build();
    }

    public async Task<TransactionalQueries> BeginTransaction()
    {
        using var connection = await dataSource.OpenConnectionAsync();
        try
        {
            var transaction = connection.BeginTransaction();
            return new TransactionalQueries(transaction);
        }
        catch
        {
            connection.Dispose();
            throw;
        }
    }

    protected override NpgsqlCommand CreateCommand(string sql)
    {
        return dataSource.CreateCommand(sql);
    }
}

public class TransactionalQueries(NpgsqlTransaction transaction) : BaseQueries, IDisposable
{
    protected override NpgsqlCommand CreateCommand(string sql)
    {
        return new NpgsqlCommand(sql, transaction.Connection!, transaction);
    }

    public Task CommitAsync(CancellationToken cancellationToken = default)
    {
        return transaction.CommitAsync(cancellationToken);
    }

    public void Dispose()
    {
        var connection = transaction.Connection;
        transaction?.Dispose();
        connection?.Dispose();
    }
}

class SnakeCassJsonStringEnumConverter<T> : JsonStringEnumConverter<T> where T : struct, Enum
{
    public SnakeCassJsonStringEnumConverter() : base(JsonNamingPolicy.SnakeCaseLower, true) { }
}
